.nav {
  background:rgb(84, 158, 84);
  color: white;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
}
  
.nav__title{
  margin: 0px 30px;
 
 font-size: 50px;
}

.nav__item{
 
  display: inline-block;
  margin: 0px 30px;
  
  color: #fff;
}
.link{
  text-decoration: none;
  color: #fff;
}
.btn{

  background-color:rgb(97, 139, 97);
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20px;
  font-size: 25px;
  padding: 5px 15px;
  

  
  }
.pocetna{
  background-image: url("https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 280px;
  padding-bottom: 100px;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 25px;
  
}
.paragraf {
  font-size: 20px;
  text-align: center;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  margin-top: 5px;


}


.row{
 padding-top: 20px;
 font-size: 25 px;
  
}
.main-box{ 
  
  text-align: center;
  background-image: url("https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  margin-top: 0px;
  background-size: cover;
  padding-top: 220px;
 
}

.btn-registar{
  background-color:rgb(97, 139, 97);
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20px;
  font-size: 15px;
  padding: 5px 15px;
  text-align: center;

  }
  .registar{
    font-size: 20px;
  }
  .forma{
    margin: top -100px;


  }
  .row-garden{
    padding: 5%;
    background-color: #dde6d2;
    
  }
  .card{
  width: 20%;
  margin: 40px;
  border-radius: 5px;
  display: inline-block;
  
  }
  .card-img-top{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  
  
  }
  .card-title{
  font-size: 35px;
  margin-top: 9px;
  margin-bottom: 5px;
  text-align: center;
  
  }
  .card-text{
    text-align: center;
  }
  .btn1{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  font-size: large;
  background-color: rgb(89, 199, 89);
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
  
  }
  .main{
    margin:2px;
  }
  .card-text{
    font-size: 19px;
    text-align: center;
   margin-top: -5px;
  
  }
  .btn1:hover{
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
  }